.main {
  background-color: $bacground-color;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 92px;
    padding-block: 92px;
    width: 100%;

    @include on-tablet {
      gap: 120px;
      padding-block: 120px;
    }

    @include on-desktop {
      gap: 144px;
      padding-block: 144px;
    }
  }
}
